@font-face {
    font-family: 'Switzer';
    src: url(fonts/Switzer-Variable.woff2);
}

:root {
    --red: #ff3b3b;
    --darker-gray: #0a0a0a;
    --dark-gray: #121212;
    --midder-gray: #1d1d1d;
    --mid-gray: #272727;
    --light-gray: #888888;
    --font-primary: 'Switzer', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

    /* default - dark mode */
    --bg-color: #09090b;
    --text-color: white;
    --text-color-dark: black;
}

::selection {
    background-color: var(--red);
    color: white;
}

body {
    background-color: var(--dark-gray);
    color: var(--text-color);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    padding-top: 78px;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px 40px;
    background-color: var(--bg-color);
    z-index: 9999;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);

}

.logo {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.logo .white {
    color: var(--text-color);
}

.logo .red {
    color: var(--red);
}

.nav-links {
    display: flex;
    position: relative;
    gap: 20px;
    margin-top: 5px;
    padding-left: 5px;
}

.nav-links a {
    text-decoration: none;
    color: var(--light-gray);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--text-color);
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 100px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 200px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons .login {
    background: none;
    color: var(--text-color);
    padding: 10px 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border: 2.3px solid var(--mid-gray);
}

.auth-buttons .signup {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 5px;
}

.auth-buttons .login:hover {
    background-color: var(--mid-gray);
    border: 2.3px solid var(--mid-gray);
    color: white;
}

.auth-buttons .signup:hover {
    opacity: 0.8;
}